.image {
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.thumb {
      filter: blur(20px);
      transform: scale(1.1);
      visibility: visible;
      transition: visibility 0ms ease 400ms;
    }

    &.full {
      transition: opacity 400ms ease 0ms;
    }
  }
}
