* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  padding: 0;
  margin: 0;
}

.header {
  height: 250px;
  background: #dde2e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  columns: $columns;
  gap: $gap;
  grid-auto-flow: dense;


  > * {
    break-inside: avoid;
    margin-bottom: $gap;
  }

  &-item {
    grid-column: span 2;
    position: relative;


  }
}

@supports (grid-template-rows: masonry) {
  .grid {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: masonry;
    grid-auto-flow: dense;

    > * {
      margin-bottom: 0;
    }

    &-item {
      grid-column: span 2;
      position: relative;
      content: "";
    }
  }
}
